ul {
    list-style: none;
    padding-left: 0;

}

.atavar{
    width: 80px;
    height: 100%;
    float: left;
}

.question-group{
    width: 660px;
    margin-left: 10px;
}

ul{
    list-style: none;
    padding-left: 0;
}

ul li{
    border-bottom: 1px solid;
}

