.color {
    position: relative;
    left: 1000px;
    bottom: 500px;
}

.size{
    position: relative;
    left: 1000px;
    bottom: 500px;
}


.info {
    position: relative;
    left: 1000px;
    bottom: 500px;
}
