{% extends 'base.html' %}
{% block title %}首页{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/home.css') }}">
{% endblock %}
{% block main %}
    {% for item in question %}
        <ul>
            <li>
                <div class="atavar">
                    <img src="/static/images/logo.jpg" style="width: 80px">
                </div>
                <div class="question-group">
                    <p class="title"><a href="{{ url_for('detail',question_id=item.id) }}">{{ item.title }}</a> </p>
                    <p class="content">{{ item.content }}</p>
                    <div class="info">
                        <span class="author">{{ item.author.username }}</span>
                        <span class="time">{{ item.create_time }}</span>
                    </div>
                </div>
            </li>
        </ul>
    {% endfor %}
{% endblock %}


